{% extends 'admin/admin_base.html' %}
{% block content %}
    <main class="layui-container">
        <form method="post" action="{{ url_for('add_category') }}">
            <div class="layui-input-inline">
                <input class="layui-input" type="text" value="category" name="category" autocomplete="off" required>
            </div>
            <button class="layui-btn" type="submit">添加</button>
        </form>
        <table class="layui-table" lay-even lay-size="lg">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>id</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            {% if  categories %}
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <form action=" {{ url_for('delete_category', category_id=category.id) }} " method="post"
                                  class="inline-form">
                                <input type="submit" name="delete" value="Delete"
                                       onclick=" return confirm('Are you sure ?')"
                                       class="btn">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </main>
{% endblock %}