{% extends 'admin/admin_base.html' %}
{% block content %}
<!--<link rel="stylesheet" href="../../static/layui/css/layui.css">-->
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<main class="layui-container">
    <table class="layui-table" lay-even lay-size="lg">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="200">
            <col width="130">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>id</th>
            <th>类型</th>
            <th>标题</th>
            <th>操作</th>
            <th>时间</th>
        </tr>
        </thead>
        {% if articles %}
        {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.category.name }}</td>
            <td>{{ article.title }}</td>
            <td>
                <form action=" {{ url_for('edit_article', article_id=article.id) }} " method="get"
                      class="inline-form float-left">
                    <button type="submit" name="eidt"
                            class="btn btn-outline-dark layui-inline">Edit
                    </button>
                </form>
                <form action=" {{ url_for('delete_article', article_id=article.id) }} " method="post"
                      class="inline-form float-right">
                    <button type="submit" name="delete"
                            onclick=" return confirm('Are you sure ?')"
                            class="btn btn-outline-danger  layui-inline">Delete
                    </button>
                </form>
            </td>
            <td>{{ article.timestamp }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</main>
{% import 'pagination.html' as pg %}
{{ pg.my_paginate(pagination, 'admin_articles') }}
{% endblock %}