{% extends 'base.html' %}
<link rel="stylesheet" href="../static/css/bootstrap.css">
{% block content %}
    <header style="padding: 30px 3">
        <h1>{{ article.title }}</h1>
        <h4 class="text-muted">{{ article.timestamp }}</h4>
    </header>
    <main class="row">
        <div class="col-md-8">
            <article class="container">
                <section style="padding: 30px">{{ article.content }}</section>
            </article>
        </div>
        {% include 'aside.html' %}
    </main>
{% endblock %}
