<link rel="stylesheet" href="../static/css/bootstrap.css">
<!--内容主体部分-->
<div class="row">
    <div class="col-md-8">

        <div class="row" style="padding: 0 30px">
            {% if not articles %}
                <h1>No article</h1>
            {% else %}
                {% for article in articles %}
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><a
                                        href="{{ url_for('show_article',article_id=article.id) }}"
                                        class="text-dark">{{ article.title|truncate(10) }}</a>
                                </h3>
                                <p class="card-text">{{ article.content|truncate(50) }}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <span>{{ article.timestamp }}</span>
                                <span class="float-right">{{ article.category.name }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    {% include 'aside.html' %}
</div>
{% import 'pagination.html' as pg %}
{{ pg.my_paginate(pagination, 'index') }}
